@media only screen and (max-width: 991px) {
  .mobile-navigation-menu-items {
      transition: transform ease-in 0.3s;
      pointer-events: none;
      overflow-y: auto;
  }

  .filled-nav-button {
      width: calc(100% - 48px) !important;
  }

  .new-outlined-nav-button {
      width: calc(100% - 48px) !important;
  }

  .login-nav-item {
      width: calc(100% - 48px) !important;
  }

  /*.logout-nav-item {
      width: calc(100% - 48px) !important;
  }*/

  .open-nav-menu {
      transform: translate3d(0, 0, 1px) !important;
      transition: transform ease-in 0.3s;
      height: calc(100% - 62px) !important;
      pointer-events: all;
      padding-bottom: 0px !important;
  }

  .close-nav-menu {
      transform: translate3d(0px, -100%, 1px) !important;
      transition: transform ease-out 0.3s;
      height: 100% !important;
      top: 0px !important;
      padding-bottom: 500px !important;
  }

  .no-scroll {
      overflow: hidden;
  }

  .fixed {
      position: fixed !important;
  }
}
