.w-nav-overlay {
  overflow: scroll !important;
  position: fixed;
  top: 62px;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.link-block-right:hover .link-block-right-title {
  font-weight: 600 !important;
}

.featured-link:hover .featured-title {
  font-weight: 600 !important;
}

.conversion-item-mobile:hover .tick-icon,
.conversion-item-mobile:focus .tick-icon,
.conversion-item:hover .tick-icon-desktop,
.conversion-item:focus .tick-icon-desktop {
  display: block;
}

.conversion-item:hover {
  font-weight: 600;
}

.nav-dropdown-container {
  box-shadow: 4px 4px 20px rgba(11, 18, 54, 0.5);
}


@media(max-width: 991px) {
  .items-container {
    overflow: scroll;
  }
}

@media(max-width: 991px) { 
  [data-nav-menu-open] {
    height: inherit;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-dropdown {
    width: 100%;
  }
}

@media(max-width: 320px) {
  .mobile-cta-container {
    flex-direction: column;
  }
  
  .conversion-sign-up-button-mobile, .login-button-mobile {
    width: 100%;
  }
}