.select2-dropdown,
.js-country-code-dropdown,
.js-country-code-dropdown .select2-container {
  width: calc(100% - 35px) !important;
}

.country-code {
  font-weight: 500;
  color: #5c5c5c;
}

.country-name {
  font-weight: 400;
  color: #a6acaf;
}

.select2-search--dropdown {
  padding: 12px;
}

.select2-results li {
  padding: 16px 12px;
  font-size: 16px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #e4f0fc !important;
  color: #5ea5ee;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable
  .country-name,
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable
  .country-code {
  color: #5ea5ee;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--selected .country-name,
.select2-container--default .select2-results__option--selected .country-code {
  background-color: #e4f0fc !important;
  color: #5ea5ee;
}

.select2-search input[type='search'] {
  height: 40px;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 6px 27px 6px 12px !important;
  background-color: #ffffff;
  background-image: url('https://assets.website-files.com/5e8b2955eaa7857dbbd850ad/630612dcb6ec2d22bb730cd9_search-icon.png');
  background-position: right 14px center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  -webkit-appearance: none;
}

.select2-search input[type='search']::placeholder {
  color: #a6acaf;
}

.select2-search input[type='search']:focus,
.select2-search input[type='search']:active {
  border: 1px solid #5ea5ee !important;
  box-shadow: 0 0 2px 0 #5ea5ee;
  outline: none;
  background-color: #ffffff;
}

.selection span[aria-expanded='true'],
.select2-container--focus .select2-selection {
  border: 1px solid #5ea5ee !important;
  box-shadow: 0 0 2px 0 #5ea5ee;
  border-radius: 4px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b::before {
  display: block;
  content: url(https://d3qdc2zh3mwabb.cloudfront.net/assets/arrow-down-029450f448b62da4f6e326ac803648fe3593d56606396a93464a3c3fdbb9ce58.png);
  position: absolute;
  border: 0 !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border: none !important;
  margin-left: -13px;
}

.select2-selection:focus,
.select2-selection:active {
  outline: none !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
  padding-left: 12px;
  padding-right: 36px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px !important;
  padding: 0;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 21px !important;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
  border-radius: 4px !important;
  margin-top: 6px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 210px;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: 1px solid #aaa;
  border-radius: 4px !important;
  top: -8px !important;
}

@media (max-width: 991px) {
  .select2-dropdown {
    width: calc(100vw - 48px) !important;
  }

  .select2-container .select2-selection--single {
    height: 48px !important;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 48px !important;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 30px !important;
  }

  .select2-search input[type='search'] {
    height: 48px;
  }
}
